
 
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
 

/* Setting the blur effect */

.pathfindingVisualizer {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

/* Css for the Popup */
.PopUp {
    top: 0vh;
    left: 20%;
    position: absolute;
    width: 70%;
    height: 70vh;
}

.PopUpTextBox p{
    /* margin-left: 15rem; */
    font-size: 30px;
    color: #111;
    font-family: 'Bree Serif', serif;

}
.PopUp .PopUpTextBox {
    width: 80%;
    height: 50vh;
    background-color: white;
    z-index: 10;

    border: 2px solid black;
    border-radius: 20px;
}

.PopUp .PopUpTextBox header {
    box-sizing: border-box;
    border: 2px solid #020202;

    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 6px 5px 0 5px;
    display: flex;
    justify-content: space-between;

    width: 100%;

    height: 15%;

    background-color:chocolate;
    color: white;
}

.PopUp .PopUpTextBox header h3 {
    padding-right: 5px;
    cursor: pointer;
}

.PopUp .PopUpTextBox header h3:hover {
    color: #111;
}

.PopUp .PopUpTextBox .PopUpIntroductionText{
    width: 100%;
    height: 80%;
}

.PopUp .PopUpTextBox .PopUpIntroductionText .player{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    text-align: left;
    padding:10px;
}

.player h3{
    margin: 10px;
}

.player img,
.player div{
    width:80px;
    height:50px;
    margin:30px;
}

.PopUp .PopUpTextBox .skipBox{
    box-sizing: border-box;

    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}



.PopUp .PopUpTextBox .skipBox button{
    color : white;
    margin-left: 22rem;
    width: 10%;
    background-color:rgb(69, 178, 32);
    border : 1px solid rgb(69, 178, 32);
    border-radius : 3px;

    transition : 0.8s;
}

.PopUp .PopUpTextBox .skipBox button:hover{
    color : #111;
    cursor: pointer;
}

@media(max-width:780px) {
    .PopUp {
        top: 0;
        left: 0;
        position: absolute;
        width: 200%;
        height: 200vh;
    }
    .PopUp .PopUpTextBox {
        width: 100%;
        height: 80vh;
        border: none;
    }
    .player img, .player div {
        width: 60px;
        height: 50px;
    }
    .PopUp .PopUpTextBox header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
}

